.header {
	background-color: $color-secondary;
	padding: 5rem 0;

	&__content {
		max-width: 75rem;
		width: 100%;
		margin-left: 9rem;

		@media only screen and (max-width: $tab-land) {
			margin-left: 0;
		}
	}
}
